node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Firebase keys (Do not commit to version control)
google-services.json
GoogleService-Info.plist

# Expo-cli
expo-env.d.ts

android
ios
node_modules
../FILES_CHANGED.md
